__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

uploads/*
!uploads/.gitkeep
outputs/images/*
!outputs/images/.gitkeep
outputs/json/*
!outputs/json/.gitkeep
outputs/pdfs/*
!outputs/pdfs/.gitkeep

input/*
!input/.gitkeep
batch_outputs/*
!batch_outputs/.gitkeep
